In [4]:
from cryptory import Cryptory

In [5]:
my_cryptory=Cryptory(from_date='2017-07-01')

In [21]:
import pandas as pd
my_cap=my_cryptory.extract_coinmarketcap("bitcoin")
#select volume from market cap
volume_market_cap=my_cap[['volume']]
volume_market_cap=volume_market_cap.rename(columns={'volume':'volume_market_cap'})
#rename the column

In [7]:
bitcoin_google_trends=my_cryptory.get_google_trends(kw_list=['bitcoin'])

In [8]:
bitcoin_google_trends=bitcoin_google_trends.rename(columns={'bitcoin':'bitcoin_google_trends'})

In [9]:
#get dow james
bitcoin_stock_price=my_cryptory.get_stock_prices(market="%5EDJI")

In [13]:
#select volume, close from dow james stock price
bitcoin_stock_price=bitcoin_stock_price.loc[:,['close','volume']]
bitcoin_stock_price=bitcoin_stock_price.rename(columns={'close':'bitcoin_stock_price_close','volume':'bitcoin_stock_price_volume'})

In [14]:
bitcoin_stock_price

     bitcoin_stock_price_close  bitcoin_stock_price_volume
0                 25451.060547                 329680000.0
1                 25451.060547                 329680000.0
2                 25527.070312                 297530000.0
3                 25414.099609                 273670000.0
4                 25241.939453                 274940000.0
5                 25044.289062                 228820000.0
6                 25058.119141                 274080000.0
7                 25058.119141                 274080000.0
8                 25058.119141                 274080000.0
9                 25064.500000                 285760000.0
10                25199.289062                 252870000.0
11                25119.890625                 250450000.0
12                25064.359375                 231270000.0
13                25019.410156                 255520000.0
14                25019.410156                 255520000.0
15                25019.410156                 255520000.0
16                24924.890625                 233150000.0
17                24700.449219                 237370000.0
18                24919.660156                 235040000.0
19                24776.589844                 240580000.0
20                24456.480469                 219450000.0
21                24456.480469                 219450000.0
22                24456.480469                 219450000.0
23                24356.740234                 237670000.0
24                24174.820312                 160960000.0
25                24174.820312                 160960000.0
26                24307.179688                 244110000.0
27                24271.410156                 329070000.0
28                24271.410156                 329070000.0
29                24271.410156                 329070000.0
..                         ...                         ...
363               21830.310547                 285630000.0
364               21830.310547                 285630000.0
365               21830.310547                 285630000.0
366               21796.550781                 407320000.0
367               21711.009766                 278240000.0
368               21613.429688                 304300000.0
369               21513.169922                 284080000.0
370               21580.070312                 362830000.0
371               21580.070312                 362830000.0
372               21580.070312                 362830000.0
373               21611.779297                 313950000.0
374               21640.750000                 253040000.0
375               21574.730469                 251110000.0
376               21629.720703                 244780000.0
377               21637.740234                 235590000.0
378               21637.740234                 235590000.0
379               21637.740234                 235590000.0
380               21553.089844                 232270000.0
381               21532.140625                 267870000.0
382               21409.070312                 247570000.0
383               21408.519531                 270340000.0
384               21414.339844                 242240000.0
385               21414.339844                 242240000.0
386               21414.339844                 242240000.0
387               21320.039062                 320450000.0
388               21478.169922                 273690000.0
389               21479.269531                 186810000.0
390               21479.269531                 186810000.0
391                        NaN                         NaN
392                        NaN                         NaN

[393 rows x 2 columns]

In [16]:
oil_prices=my_cryptory.get_oil_prices()
oil_prices

          date  oil_price
0   2018-07-28      67.90
1   2018-07-27      67.90
2   2018-07-26      67.90
3   2018-07-25      67.90
4   2018-07-24      67.90
5   2018-07-23      67.90
6   2018-07-22      70.31
7   2018-07-21      70.31
8   2018-07-20      70.31
9   2018-07-19      69.42
10  2018-07-18      68.78
11  2018-07-17      68.03
12  2018-07-16      68.22
13  2018-07-15      71.03
14  2018-07-14      71.03
15  2018-07-13      71.03
16  2018-07-12      70.28
17  2018-07-11      70.47
18  2018-07-10      74.11
19  2018-07-09      73.93
20  2018-07-08      73.78
21  2018-07-07      73.78
22  2018-07-06      73.78
23  2018-07-05      73.05
24  2018-07-04      74.19
25  2018-07-03      74.19
26  2018-07-02      73.89
27  2018-07-01      74.13
28  2018-06-30      74.13
29  2018-06-29      74.13
..         ...        ...
363 2017-07-30      49.72
364 2017-07-29      49.72
365 2017-07-28      49.72
366 2017-07-27      49.05
367 2017-07-26      48.58
368 2017-07-25      47.77
369 2017-07-24      46.21
370 2017-07-23      45.78
371 2017-07-22      45.78
372 2017-07-21      45.78
373 2017-07-20      46.73
374 2017-07-19      47.10
375 2017-07-18      46.40
376 2017-07-17      46.02
377 2017-07-16      46.53
378 2017-07-15      46.53
379 2017-07-14      46.53
380 2017-07-13      46.06
381 2017-07-12      45.48
382 2017-07-11      45.06
383 2017-07-10      44.40
384 2017-07-09      44.25
385 2017-07-08      44.25
386 2017-07-07      44.25
387 2017-07-06      45.52
388 2017-07-05      45.11
389 2017-07-04        NaN
390 2017-07-03        NaN
391 2017-07-02        NaN
392 2017-07-01        NaN

[393 rows x 2 columns]

In [17]:
my_cryptory.get_exchange_rates(from_currency="USD",to_currency="EUR")

          date  exch_rate
0   2018-07-28     1.1625
1   2018-07-27     1.1625
2   2018-07-26     1.1716
3   2018-07-25     1.1690
4   2018-07-24     1.1706
5   2018-07-23     1.1716
6   2018-07-22     1.1670
7   2018-07-21     1.1670
8   2018-07-20     1.1670
9   2018-07-19     1.1588
10  2018-07-18     1.1611
11  2018-07-17     1.1707
12  2018-07-16     1.1720
13  2018-07-15     1.1643
14  2018-07-14     1.1643
15  2018-07-13     1.1643
16  2018-07-12     1.1658
17  2018-07-11     1.1735
18  2018-07-10     1.1713
19  2018-07-09     1.1789
20  2018-07-08     1.1724
21  2018-07-07     1.1724
22  2018-07-06     1.1724
23  2018-07-05     1.1709
24  2018-07-04     1.1665
25  2018-07-03     1.1665
26  2018-07-02     1.1639
27  2018-07-01     1.1658
28  2018-06-30     1.1658
29  2018-06-29     1.1658
..         ...        ...
363 2017-07-30     1.1729
364 2017-07-29     1.1729
365 2017-07-28     1.1729
366 2017-07-27     1.1694
367 2017-07-26     1.1644
368 2017-07-25     1.1694
369 2017-07-24     1.1648
370 2017-07-23     1.1642
371 2017-07-22     1.1642
372 2017-07-21     1.1642
373 2017-07-20     1.1485
374 2017-07-19     1.1533
375 2017-07-18     1.1555
376 2017-07-17     1.1462
377 2017-07-16     1.1415
378 2017-07-15     1.1415
379 2017-07-14     1.1415
380 2017-07-13     1.1417
381 2017-07-12     1.1449
382 2017-07-11     1.1405
383 2017-07-10     1.1387
384 2017-07-09     1.1412
385 2017-07-08     1.1412
386 2017-07-07     1.1412
387 2017-07-06     1.1385
388 2017-07-05     1.1329
389 2017-07-04     1.1369
390 2017-07-03     1.1369
391 2017-07-02        NaN
392 2017-07-01        NaN

[393 rows x 2 columns]

In [18]:
my_cryptory.extract_poloniex(coin1="btc",coin2="eth")

HTTPError: HTTP Error 403: Forbidden

In [ ]:
df=pd.DataFrame(data=dic)

In [ ]:
exc=my_cryptory.get_exchange_rates(from_currency="USD", to_currency="EUR")
exc.iloc[0:937,1:]
dic={'btc':gd,'exch_rate':exc}
dic