In [5]:
import os
os.environ["TF_CPP_MIN_LOG_LEVEL"]="3"
import keras
import numpy as np
import pandas as pd
test_data='kaggle competitions download -c dogs-vs-cats'
train_data='kaggle competitions download -c dogs-vs-cats'

In [8]:
test_data.description()

AttributeError: 'str' object has no attribute 'description'

In [25]:
import numpy as np
import pandas as pd
s=pd.Series([1,2,3,45,6,8],index=(2,4,6,8,10,12))
s

2      1
4      2
6      3
8     45
10     6
12     8
dtype: int64

In [24]:
s.index

Int64Index([2, 4, 6, 8, 10, 12], dtype='int64')

In [29]:
a=pd.Series([2,3,457,89,0,9],index=s.index)

In [45]:
import random
np.random.seed(123)
b=pd.Series(np.random.randn(5))

In [46]:
pd.Series(np.random.randn(5))

0    1.651437
1   -2.426679
2   -0.428913
3    1.265936
4   -0.866740
dtype: float64

In [47]:
b[1:5:2]

1    0.997345
3   -1.506295
dtype: float64

In [51]:
b.loc[[2,4]]

2    0.282978
4   -0.578600
dtype: float64

In [56]:
b[::-1]

4   -0.578600
3   -1.506295
2    0.282978
1    0.997345
0   -1.085631
dtype: float64

In [53]:
b[-3::]

2    0.282978
3   -1.506295
4   -0.578600
dtype: float64

In [62]:
a=np.arange(0,10)
b=np.arange(3,13)

In [69]:
dd=pd.DataFrame([a,b],columns=['a','b','h','w','q','g','f','t','e','r',])

In [75]:
a=pd.Series(np.arange(5))
b=pd.Series(np.arange(2,6))
df=pd.DataFrame({'c':a,'f':b})

In [84]:
df.rename(columns={'c':'p'})

   p    f
0  0  2.0
1  1  3.0
2  2  4.0
3  3  5.0
4  4  NaN

In [85]:
copy=df.copy()

In [87]:
copy['pac']=df.f*2

In [90]:
del copy['f']

In [97]:
droppp=copy.drop([1,3])

In [100]:
droppp
appe=b.append(droppp)

In [101]:
appe

     0    c  pac
0  2.0  NaN  NaN
1  3.0  NaN  NaN
2  4.0  NaN  NaN
3  5.0  NaN  NaN
0  NaN  0.0  4.0
2  NaN  2.0  8.0
4  NaN  4.0  NaN

In [110]:
appe.loc['222']=[2,5,5]

In [118]:
appe[:3]

     0   c  pac
0  2.0 NaN  NaN
1  3.0 NaN  NaN
2  4.0 NaN  NaN

In [123]:
import json
Url="https://www.fdic.gov/bank/individual/failed/banklist.html"
dd=pd.read_html(Url)

In [131]:
dd[0][0:5]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","February 21, 2018"
1,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","February 21, 2018"
2,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","July 26, 2017"
3,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","March 22, 2018"
4,First NBC Bank,New Orleans,LA,58302,Whitney Bank,"April 28, 2017","December 5, 2017"